/* Reset some default styles */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 20px 0;
}


.head {
    background-color: #333;
    text-align: center;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the sidebar */
#sidebar {
    background-color: #444;
    color: #fff;
    padding: 20px;
    width: 15%;
    position: absolute;
    margin-top: 40px;
}

#sidebar h2 {
    font-size: 24px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}




/* Style the main content */
#content {
    padding: 20px;
}

#search-container {
    text-align: center;
    margin-bottom: 20px;
}

#search-input {
    width: 30%; /* Increase the width to 80% */
    padding: 10px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie {
    background-color: #fff;
    padding: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    
}

.movie img {
    /*max-width: 100%; */
    height: auto;
    margin-bottom: 10px;
    max-width: 100%; /* Set the width of each image to 50% */
}

.upcoming-movies {
    margin-left: 20%;
    padding-left: 22px;
}

.movie-header {
    margin-left: 20%;
}

.movie-header1{
    margin-left: 280px;
}

.movie-container {
    display: flex;
    flex-direction: row;
  }
  
  .movie-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .image-container {
    text-align: right;
  }
  
  .show {
    float: right;
    clear: right;
    
    margin-right: 80px;
  }

  .show img {
    border: 2px solid black;
    padding: 5px;
}


/* Style for the "See More" button */
#see-more-button {
    margin-left: 20%;
    padding: 10px 20px;
    border: none;
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#see-more-button:hover {
    background-color: #3367D6;
}


#see-more-button2 {
    margin-left: 20%;
    padding: 10px 20px;
    border: none;
    background-color: #4285F4;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#see-more-button2:hover {
    background-color: #3367D6;
}

/* Style the footer */
footer nav {
    display: flex;
    justify-content: flex-end;
}

.p-row-oppiste {
    text-align: right;
}

.p-row-linklist li {
    display: inline-block;
    margin-left: 2px;
}

/* Change font style and size for the anchor elements */
.p-row-linklist li a {
    font-family: Arial, sans-serif; /* Change to your desired font-family */
    font-size: 14px; /* Change to your desired font size */
    color: #fff; /* Font color */
    text-decoration: none; /* Remove underline */
}

.fop {
    margin-top: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



.main-image {
    max-width: 200px; /* Adjust the width as per your preference */
    height: auto;
    margin-bottom: 10px; /* Adjust the spacing between the main image and slideshow as per your preference */
}

.movie {
    margin-bottom: 20px; /* Adjust the spacing between movies as per your preference */
}

/* Additional styles for aesthetics */
.movie-header {
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px; /* Adjust the spacing between the movies and the button as per your preference */
}


/* Theme button */

body {
    background-color: #838080fe;
    color: #000;
}

/* Night Light Theme */
body.night-light-theme {
    background-color: #3d2503a8;
    color: #3916c78e;
}



.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-items: center;
}




